body {
    font-family: Verdana;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
    gap: 15px;
}

#tubes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}

.tube {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    min-height: 120px;
}

.tube-name {
    font-size: 13px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: transparent;
    padding: 2px 5px;
    z-index: 1;
    text-align: center;
}

.slot {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.slot.BROWN { background-color: #7f4a08; }
.slot.LIGHT_GREEN { background-color: #61d67d; }
.slot.BLUE { background-color: #3b2fc3; }
.slot.GREY { background-color: #636466; }
.slot.DARK_GREEN { background-color: #116533; }
.slot.RED { background-color: red; }
.slot.PINK { background-color: #ea5e7b; }
.slot.LIME_GREEN { background-color: #78970e; } 
.slot.LIGHT_BLUE { background-color: #55a3e5; }
.slot.ORANGE { background-color: #e88c41; }
.slot.PURPLE { background-color: #722b95; }
.slot.YELLOW { background-color: #f2d958; }
.slot.NONE { background-color: #f5f5f5;}

.slot.selected {
    border: 3px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}


#top-moves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.top-moves-buttons-container { /* Changed to class selector */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-moves-buttons-container button { /* Changed to class selector */
    padding: 8px 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-bottom: 10px;
}

.top-moves-buttons-container button:hover { /* Changed to class selector */
    background-color: #7e9184; /* Darker green on hover */
}

.top-moves-buttons-container button:disabled { /* Changed to class selector */
    background-color: #ccc; /* Grayed out for disabled buttons */
    cursor: default;
}

#moves-list {
    text-align: left; /* Left-aligns the moves */
    margin-left: 20px;
    margin-bottom: 10px;
}

#top-moves-container ul {
    text-align: left;
}

#image-upload-modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; 
    font-size: 20px;
    color: #333;
}

#image-upload-modal #image-preview-container {
    max-width: 150px;
    max-height: 300px;
    overflow: hidden;
  }
