body {
    font-family: Verdana;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    top:0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 15px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 80%;
}

#tubes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Responsive grid */
    grid-gap: 20px;
}

.tube {
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse; 
    overflow: hidden;
    position: relative;
    min-height: 120px;
}

.tube-name {
    font-size: 13px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color:transparent;
    padding: 2px 5px;
    z-index: 1; 
    text-align: center;
}

.slot {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: transparent; /* Make default background transparent */
}

.slot.BROWN { background-color: brown; }
.slot.LIGHT_GREEN { background-color: rgb(158, 218, 158); }
.slot.BLUE { background-color: blue; }
.slot.GREY { background-color: grey; }
.slot.GREEN { background-color: rgb(0, 252, 0); }
.slot.RED { background-color: red; }
.slot.PINK { background-color: pink; }
.slot.MEHENDI { background-color: #468844; } 
.slot.LIGHT_BLUE { background-color: lightblue; }
.slot.ORANGE { background-color: orange; }
.slot.PURPLE { background-color: purple; }
.slot.YELLOW { background-color: yellow; }
.slot.NONE { background-color: whitesmoke;}


#top-moves-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#top-moves-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#top-moves-buttons-container button {
    padding: 8px 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-bottom: 10px;
}

#top-moves-buttons-container button:hover {
    background-color: #7e9184; /* Darker green on hover */
}

#top-moves-buttons-container button:disabled {
    background-color: #ccc; /* Grayed out for disabled buttons */
    cursor: default;
}

#moves-list {
    text-align: left; /* Left-aligns the moves */
    margin-left: 20px;
    margin-bottom: 10px;
}

#top-moves-container ul { 
    text-align: left;
  }